*{
    margin: 0px;
    padding: 0px;
}
header nav ul
{
    background-color: aquamarine;
    list-style-type: none;   
}
header nav {
    text-align: center;
}

header nav ul li a
{
    text-decoration: none; 
    color:rgb(29, 27, 27);   
}
main{
    text-align: center;  
}
main .margin {
    margin: 50px;
}
footer {
    text-align: center;
    background-color: aquamarine;
}
